spring.main.banner-mode=LOG
nodes.metaNode=DefaultDataCenter:localhost
nodes.localDataCenter=DefaultDataCenter
nodes.localRegion=DEFAULT_ZONE
server.logging.home=/home/admin/logs/registry

meta.server.logging.level=INFO
meta.server.logging.home=/home/admin/logs/registry/meta
meta.server.sessionServerPort=9610
meta.server.dataServerPort=9611
meta.server.metaServerPort=9612
meta.server.raftServerPort=9614
meta.server.httpServerPort=9615
meta.server.raftGroup=MetaServerRaftGroup

data.server.logging.level=INFO
data.server.logging.home=/home/admin/logs/registry/data
data.server.port=9620
data.server.syncDataPort=9621
data.server.httpServerPort=9622
data.server.queueCount=4
data.server.queueSize=10240
data.server.notifyIntervalMs=500
data.server.rpcTimeout=3000
data.server.metaServerPort=9611
data.server.storeNodes=3
data.server.numberOfReplicas=1000

session.server.logging.level=INFO
session.server.logging.home=/home/admin/logs/registry/session
session.server.serverPort=9600
session.server.serverSyncPort=9601
session.server.httpServerPort=9603
session.server.metaServerPort=9610
session.server.dataServerPort=9620
session.server.serverDescription=dev session server
session.server.sessionServerRegion=DEFAULT_ZONE
session.server.sessionServerDataCenter=DefaultDataCenter
session.server.syncHeartbeat.fixedDelay=30000
session.server.syncExceptionData.fixedDelay=30000
session.server.printTask.fixedDelay=30000
session.server.schedulerCheckVersionTimeout=3
session.server.schedulerCheckVersionFirstDelay=3
session.server.schedulerCheckVersionExpBackOffBound=10
session.server.schedulerHeartbeatTimeout=30
session.server.schedulerHeartbeatFirstDelay=30
session.server.schedulerHeartbeatExpBackOffBound=10
session.server.schedulerFetchDataTimeout=3
session.server.schedulerFetchDataFirstDelay=3
session.server.schedulerFetchDataExpBackOffBound=10
session.server.invalidForeverZones=<zone1>;<zone2>
session.server.invalidIgnoreDataidRegex=<Regex>
session.server.pushEmptyDataDataIdPrefixes=<some prefix string>