<?xml version="1.0" encoding="UTF-8"?>

<configuration status="info" shutdownHook="disable" monitorInterval="5">

    <Properties>
        <Property name="LOG_HOME">${registry.integration.home}/logs</Property>
        <Property name="META_LOG_HOME">${registry.integration.home}/logs/meta</Property>
        <Property name="DATA_LOG_HOME">${registry.integration.home}/logs/data</Property>
        <Property name="SESSION_LOG_HOME">${registry.integration.home}/logs/session</Property>
        <Property name="LOG_LEVEL">INFO</Property>
    </Properties>

    <appenders>
        <console name="STDOUT-APPENDER" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%c{1}] - %m%n"/>
        </console>

        <RollingRandomAccessFile name="COMMON-ERROR-APPENDER" fileName="${LOG_HOME}/common-error.log"
                                 filePattern="${LOG_HOME}/common-error.log.%d{yyyy-MM-dd}">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="common-error.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="COMMON-DEFAULT-APPENDER" fileName="${LOG_HOME}/common-default.log"
                                 filePattern="${LOG_HOME}/common-default.log.%d{yyyy-MM-dd}">
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="common-default.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="JRAFT-APPENDER" fileName="${LOG_HOME}/registry-raft.log"
                                 filePattern="${LOG_HOME}/registry-raft.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-raft.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="INTEGRATION-STARTUP-APPENDER" fileName="${LOG_HOME}/registry-startup.log"
                                 filePattern="${LOG_HOME}/registry-startup.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-startup.log.*" />
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="RENEW-APPENDER" fileName="${LOG_HOME}/registry-renew.log"
                                 filePattern="${LOG_HOME}/registry-renew.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-renew.log.*" />
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!--  meta appenders -->
        <RollingRandomAccessFile name="META-DEFAULT-APPENDER" fileName="${META_LOG_HOME}/registry-meta.log"
                                 filePattern="${META_LOG_HOME}/registry-meta.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${META_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-meta.log.*" />
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="META-STARTUP-APPENDER" fileName="${META_LOG_HOME}/registry-startup.log"
                                 filePattern="${META_LOG_HOME}/registry-startup.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${META_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-startup.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SLOT-TABLE-RECORDER-APPENDER" fileName="${META_LOG_HOME}/slot-table-recorder.log"
                                 filePattern="${META_LOG_HOME}/slot-table-recorder.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${META_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="slot-table-recorder.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="META-JRAFT-METRICS-APPENDER" fileName="${META_LOG_HOME}/registry-raft-metrics.log"
                                 filePattern="${META_LOG_HOME}/registry-raft-metrics.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="72">
                <Delete basePath="${META_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-raft-metrics.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!--     data appenders    -->
        <RollingRandomAccessFile name="DATA-DATUM-CHANGE-APPENDER" fileName="${DATA_LOG_HOME}/datum-change.log"
                                 filePattern="${DATA_LOG_HOME}/datum-change.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="datum-change.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="DATA-CACHE-DIGEST-APPENDER" fileName="${DATA_LOG_HOME}/cache-digest.log"
                                 filePattern="${DATA_LOG_HOME}/cache-digest.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="72">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="cache-digest.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="DATA-HTTP-APPENDER" fileName="${DATA_LOG_HOME}/registry-http.log"
                                 filePattern="${DATA_LOG_HOME}/registry-http.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-http.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="DATA-CONNECT-APPENDER" fileName="${DATA_LOG_HOME}/registry-connect.log"
                                 filePattern="${DATA_LOG_HOME}/registry-connect.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-connect.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="DATA-EXCHANGE-APPENDER" fileName="${DATA_LOG_HOME}/registry-exchange.log"
                                 filePattern="${DATA_LOG_HOME}/registry-exchange.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="72">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-exchange.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="DATUM-LEASE-APPENDER" fileName="${DATA_LOG_HOME}/registry-datum-lease.log"
                                 filePattern="${DATA_LOG_HOME}/registry-datum-lease.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-datum-lease.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>


    <!--  session appenders  -->
        <RollingRandomAccessFile name="SESSION-DEFAULT-APPENDER" fileName="${SESSION_LOG_HOME}/registry-session.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-session.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-session.log.*" />
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SESSION-STARTUP-APPENDER" fileName="${SESSION_LOG_HOME}/registry-startup.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-startup.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-startup.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SESSION-CONSOLE-APPENDER" fileName="${SESSION_LOG_HOME}/registry-console.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-console.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-console.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SESSION-EXCHANGE-APPENDER" fileName="${SESSION_LOG_HOME}/registry-exchange.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-exchange.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="72">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-exchange.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SESSION-PUSH-APPENDER" fileName="${SESSION_LOG_HOME}/registry-push.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-push.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="72">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-push.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ERROR-PUSH-APPENDER" fileName="${SESSION_LOG_HOME}/common-push-error.log"
                                 filePattern="${SESSION_LOG_HOME}/common-push-error.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="72">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="common-push-error.log.*" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SESSION-PROFILE-DIGEST-APPENDER" fileName="${SESSION_LOG_HOME}/registry-profile-digest.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-profile-digest.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-profile-digest.log.*" />
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="DATA-DEFAULT-APPENDER" fileName="${DATA_LOG_HOME}/registry-data.log"
                                 filePattern="${DATA_LOG_HOME}/registry-data.log.%d{yyyy-MM-dd}.%i">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3">
                <Delete basePath="${DATA_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-data.log.*" />
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="METADATA-EXCHANGE-APPENDER" fileName="${SESSION_LOG_HOME}/registry-metadata.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-metadata.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-metadata.log.*" />
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="DRUID-SQL-DIGEST-APPENDER" fileName="${SESSION_LOG_HOME}/registry-sql.log"
                                 filePattern="${SESSION_LOG_HOME}/registry-sql.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%d{ISO8601}][%p][%t][%c{0}] - %m%n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${SESSION_LOG_HOME}" maxDepth="2">
                    <IfFileName glob="registry-sql.log.*" />
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!-- common loggers -->

        <logger name="com.alipay.sofa.registry.jraft" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="JRAFT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.jraft" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="JRAFT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.integration" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="INTEGRATION-STARTUP-APPENDER"/>
            <appender-ref ref="STDOUT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.meta.bootstrap" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="INTEGRATION-STARTUP-APPENDER"/>
            <appender-ref ref="STDOUT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.data.bootstrap" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="INTEGRATION-STARTUP-APPENDER"/>
            <appender-ref ref="STDOUT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.session.bootstrap" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="INTEGRATION-STARTUP-APPENDER"/>
            <appender-ref ref="STDOUT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="RENEW-LOGGER" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="RENEW-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <!-- meta loggers -->

        <logger name="META-JRAFT-METRICS" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="META-JRAFT-METRICS-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.meta" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="META-DEFAULT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>


        <!-- data loggers -->

        <logger name="com.alipay.sofa.registry.server.data" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="DATA-DEFAULT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.data.change.notify.LogCacheNotifier" level="${LOG_LEVEL}"
                additivity="false">
            <appender-ref ref="DATA-DATUM-CHANGE-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.data.cache.CacheDigestTask" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="DATA-CACHE-DIGEST-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="com.alipay.sofa.registry.server.data.resource" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="DATA-HTTP-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <!-- session loggers -->

        <logger name="com.alipay.sofa.registry.server.session" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="SESSION-DEFAULT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="SESSION-CONSOLE" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="SESSION-CONSOLE-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="SESSION-EXCHANGE" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="SESSION-EXCHANGE-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <logger name="SESSION-PROFILE-DIGEST" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="SESSION-PROFILE-DIGEST-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>


        <!-- metadata loggers -->
        <logger name="METADATA-EXCHANGE" level="${LOG_LEVEL}" additivity="false">
            <appender-ref ref="METADATA-EXCHANGE-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <!-- druid配置 -->
        <logger name="druid.sql.statement" level="debug" additivity="false">
            <appender-ref ref="DRUID-SQL-DIGEST-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>
        <logger name="druid.sql.ResultSet" level="debug" additivity="false">
            <appender-ref ref="DRUID-SQL-DIGEST-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </logger>

        <!-- root loggers -->

        <root level="${LOG_LEVEL}">
            <appender-ref ref="COMMON-DEFAULT-APPENDER"/>
            <appender-ref ref="COMMON-ERROR-APPENDER"/>
        </root>
    </loggers>
</configuration>